*{
    div{
//border: 2px solid;
    }
}
.main{
    max-width:35vh;
    height: 95vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(23, 12, 23),rgb(58, 15, 64),rgb(120, 16, 120));
    color: white;;
  }
.top{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.a1{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.a11{
    height: 30px; 
}  
.middle{
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding: 20px;
    gap: 5px;

}
.b1{
    flex: 1;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    color: white;
    border: none;
    background: none;
}
.b1:hover{
    background: linear-gradient(to right,pink,purple,blue);
}
.b2{
    flex: 1;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    color: white;
    border: none;
    background: none;
    
}
.b2:hover{
    background: linear-gradient(to right,pink,purple,blue);

}
.b3{
    flex: 1;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    color: white;
    border: none;
    background: none;
}
.b3:hover{
        background: linear-gradient(to right,pink,purple,blue);
}
.b4{
    flex: 1;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    color: white;
    border: none;
    background: none;
}
.b4:hover{
   background: linear-gradient(to right,pink,purple,blue);

}
.b5{
    flex: 1;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    color: white;
    border: none;
    background: none;
}
.b5:hover{
    background: linear-gradient(to right,pink,purple,blue);
}
.bottom{
    flex: 3;
    display: flex;
    flex-direction: column;
}
.d1{
    flex: 3;
}
.d2{
    flex: 1;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    color: white;border: none;
    background: none;
}
.d2:hover{
    background: linear-gradient(to right,pink,purple,blue);
}
